.grid-item {
    border: 1px dotted #007aff;
}

.row-0 .grid-item {
    border-top: 1px solid #007aff;
}

.row-15 .grid-item {
    border-bottom: 1px solid #007aff;
}

.col-0.grid-item {
    border-left: 1px solid #007aff;
}

.col-15.grid-item {
    border-right: 1px solid #007aff;
}


.row-0 .col-0 {
    border-top-left-radius: 10px;
}

.row-0 .col-15 {
    border-top-right-radius: 10px;
}

.row-15 .col-0 {
    border-bottom-left-radius: 10px;
}

.row-15 .col-15 {
    border-bottom-right-radius: 10px;
}