body {
    text-align: center;
    background-color: #ebebf0;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #1c1c1e;
    margin: auto;
    margin-top: 30px;
}

.grid-container {
    margin: 20px auto;
    max-width: 75%;
}

.flex-row {
    margin: auto 5%;
    display: flex;
    justify-content: center;
}

.grid-item {
    padding: 2%;
    flex: 1 1 1;
    border
}