* {
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    text-align: center;
}


.main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    height: 40vw;
    min-width: 100px;
    min-height: 100px;
    margin: 50px;
}

.box {
    flex-shrink: 1;
    flex-grow: 1;
    border: 1px dotted #007aff;
}


h1 {
    font-family: 'fortune cookies', sans-serif;
    font-size: 50px;
    color: #afd6ff;
    margin: auto;
    margin-top: 30px;
}

h3 {
    margin-bottom: 0;
}

.controls-left {
    align-self: baseline ;
    color: #006adb;
    margin: 30px;
    text-align: center;
}

button {
    color: #ffffff;
    background-color: #006adb;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    margin: 20px 8px;
    font-size: 18px;
    font-weight: 600;
}

#grid-size-input {
    width: 60px;
    height: 36px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 8px;
    background-color: #dcdcdc;
    border-radius: 8px;
}

#color-input {
    padding: 0;
    width: 36px;
    height: 36px;
    border: 2px solid #afd6ff;
    border-radius: 18px;
    vertical-align:-65%;
}